@model CourseStudents;
@{
    ViewData["Title"] = "ConfirmationResponse";
}

<h1>ConfirmationResponse</h1>
<h5>You have been invited to enroll in the "@Model.ActiveCourse.CourseName" Course</h5> 
<p>Hey "@Model.Student.StudentName", you have been invited to enroll in the "@Model.ActiveCourse.CourseName" in room "@Model.ActiveCourse.RoomNumber" starting on "@Model.ActiveCourse.StartDate" with instructor "@Model.ActiveCourse.Instructor" - We would be thrilled to have you join us but ask that you confirm your enrollment! </p>
<form method="post" asp-controller="Course" asp-action="PostConfirmationResponse" asp-route-id="@Model.ActiveCourse.CourseId" asp-route-sid="@Model.Student.StudentId">
<label>Do you want to enroll?</label>

<input class="ms-2" type="radio" name="response" value="Yes" asp-for="@Model.StudentResponse.Response"/>
<label >Yes</label>&nbsp;
<input class="ms-2" type="radio" name="response" value="No" asp-for="@Model.StudentResponse.Response"/>
<label>No</label>&nbsp;
<input type="hidden" asp-for="ActiveCourse.CourseId">
<button type="Submit" class="btn btn-primary ms-2">Submit Response</button>
</form>

